html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.map {
  height: 100%;
  width: 100%;
  background: #343332;
}

.userForm {
  position: absolute;
  top: 0;
  right: 0;
}

.pathControll {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(-50%);
}
