version: '3'
services:
  raster:
    build: .
    volumes:
      - .:/home/raster
    restart: on-failure
  nginx:
    image: nginx:1.13.7-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default:/etc/nginx/sites-enabled/default
      - ./static:/home/raster/static
    depends_on:
      - raster
    restart: on-failure
