- name: checkers catalog
  synchronize:
    src: ../checkers
    dest: "{{cs_dir}}"

- name: permissions
  file:
    path: "{{cs_dir}}/checkers"
    owner: "{{cs_user}}"
    group: "{{cs_user}}"

- name: system requirements
  apt: name={{item}} state=latest update_cache=yes
  with_items:
    - python3-pip
    - python3-requests
    - python3-virtualenv

- name: python modules
  pip: executable=pip3 name={{item}}
  with_items:
    - Pillow
