---
- hosts: image
  pre_tasks:
    - name: Set authorized key
      authorized_key:
        user: root
        state: present
        key: https://github.com/m-messiah.keys
  roles:
    - { role: service, service_name: baz, binary: yes }
    - { role: service, service_name: PirateBay }
    - { role: service, service_name: PirateCoin }
    - { role: service, service_name: powder }
    - { role: service, service_name: raster }
    - { role: service, service_name: TreasureMap }

  post_tasks:
    - name: Clean apt-get
      command: apt-get clean -y
      args:
        warn: no
    - name: Remove trash files
      shell: rm -rf /root/.ansible /root/.ssh/authorized_keys /var/cache/debconf/* /var/lib/apt/lists/* /var/log/* /tmp/* /var/tmp/*
      args:
        warn: no
